body {
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.common {
    /* background-color: #cccccc; */
    border: 2px solid white;
    /* the absolute position makes it ignore all other elements completely, won't build off of other things */
    position: absolute;  
}

.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    border-bottom: solid 1px #555555;
}

.leftMenu {
    /* add all the other pixel numbers from above to get this: */
    top: 114px;
    left: 5px;
    width: 100px;
    /* bottom sets it to attatch it to the bottom of the screen. */
    bottom: 39px;
    z-index: 1;
    padding-top: 40px;
    border-right: solid 1px #555555;
}

.mainBody{
    top: 114px;
    left: 114px;
    right: 114px;
    bottom: 39px;
    padding-right: 5px;
}

.rightMenu{
    top: 114px;
    right: 5px;
    width: 100px;
    bottom: 39px;
    border-left: solid 1px #555555;
    padding-left: 5px;
}

.footer{
    bottom: 5px;
    left: 5px;
    right: 5px;
    /* want the height 25px because we want it 5 up from the bottom and 5px away from the left menu, main body, and right menu and we have a 2px body. 39-14=25 */
    height: 25px;
    font-size: 8px;
    color: gray;
    text-align: center;
    padding-top: 15px;
    /* fixes footer to be at the bottom of the page no matter what: */
    position: fixed;
}

.subheader{
    /* tells it to go all the way to the right but stay in the div and everything in the div will wrap around it  */
    float: right;
}